[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple/"
verify_ssl = true
name = "rospypi"

[packages]
geometry-msgs = {version = "*", index = "rospypi"}
nav-msgs = {version = "*", index = "rospypi"}
rospy = {version = "*", index = "rospypi"}
rospy-util = {editable = true, git = "https://github.com/AHW214/rospy-util.git"}
sensor-msgs = {version = "*", index = "rospypi"}

[dev-packages]

[requires]
python_version = "3.8"
